@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root{
    --all-font-color2: hsl(0, 0%, 100%); //white
    // for theme 1
    --theme1-bg-color : hsl(222, 26%, 31%);
    --theme1-toggle-color : hsl(223, 31%, 20%); // toggle background, keypad background)
    --theme1-screen-bg : hsl(224, 36%, 15%);
    --theme1-key1-bg: hsl(30, 25%, 89%); // most of keys 
    --theme1-key1-shadow: hsl(28, 16%, 65%);
    --theme1-key2-bg : hsl(225, 21%, 49%); // del and reset key
    --theme1-key2-shadow : hsl(224, 28%, 35%);
    --theme1-key3-bg : hsl(6, 63%, 50%); // toggle and = key
    --theme1-key3-shadow : hsl(6, 70%, 34%);
    --theme1-font-color1: hsl(221, 14%, 31%);

    // for theme 3
    --theme2-bg-color : hsl(0, 0%, 90%);
    --theme2-toggle-color : hsl(0, 5%, 81%); // toggle, keypad background
    --theme2-screen-bg : hsl(0, 0%, 93%);
    --theme2-key1-bg: hsl(45, 7%, 89%); // most of keys 
    --theme2-key1-shadow: hsl(35, 11%, 61%);
    --theme2-key2-bg : hsl(185, 42%, 37%); // del and reset key
    --theme2-key2-shadow : hsl(185, 58%, 25%);
    --theme2-key3-bg : hsl(25, 98%, 40%); // toggle and = key
    --theme2-key3-shadow : hsl(25, 99%, 27%);
    --theme2-font-color1: hsl(60, 10%, 19%);

    // for theme 3
    --theme3-bg-color : hsl(268, 75%, 9%);
    --theme3-toggle-color : hsl(268, 71%, 12%); // toggle, keypad and screen background
    --theme3-key1-bg: hsl(268, 47%, 21%); // most of keys 
    --theme3-key1-shadow: hsl(290, 70%, 36%);
    --theme3-key2-bg : hsl(281, 89%, 26%); // del and reset key
    --theme3-key2-shadow : hsl(285, 91%, 52%);
    --theme3-key3-bg : hsl(176, 100%, 44%); // toggle and = key
    --theme3-key3-shadow : hsl(177, 92%, 70%);
    --theme3-font-color1: hsl(52, 100%, 62%);
    --theme3-font-color2: hsl(198, 20%, 13%);
}
*{
    font-family: 'Spartan', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}
h2, p, button{
    margin: 0;
}
//theme color 
.theme1{
    background: var(--theme1-bg-color);
    > * {
        color: var(--all-font-color2);
    }
    .result{
        background: var(--theme1-screen-bg);
    }
    .card{
        background: var(--theme1-toggle-color);
    }
}
.main-div {
    width: 30em;
    margin: 5em auto;
}
.heading {
    display: flex;
    justify-content: space-between;
}
.result {
    padding: 1em;
    text-align: end;
    margin: 1em 0;
    border-radius: 0.5em;
    font-size: 2rem;
}
.card {
    padding: 1.8em;
    display: flex;
    flex-direction: column;
    border-radius: 0.7em;
}
.topkeys {
    columns: 4;
    margin: 0 0 1em 0;
}
.bottomkeys{
    columns: 2;
}
.btn {
    width: 100%;
    padding: 0.2em 0;
    font-size: 32px;
    &.secondary-key, &.accent-key {
        font-size: 1.5rem;
        padding: 0.43em 0;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }